table th,
table td {
	background-color: #ebebeb;
	padding: 2px 10px;
}
table tr.odd th, 
table tr.odd td {
	background-color: #e0e0e0;
}
table tr:hover td {
	background-color: #cccccc;
}
table tr td td {
	text-align: center;
}
legend {
	font-weight: bold;
	border: none;
}
label {
	padding-left: 2px;
}
input.button {
	margin-top: 10px;
}
